.header {
  display: flex;
  gap: 10px;
  background-color: black;
  color: white;
  text-align: center;
  justify-content: center;
  /* width: 100vw; */
}
.ptag {
  display: flex;
  /* margin-top: 1em; */
  align-items: center;
}
.form {
  justify-self: center;
  margin-top: 3em;
}
.taskHolder {
  border: solid;
  border-bottom: none;
  border-top: none;
  border-color: chocolate;
  border-radius: 30px;
  /* height: auto; */
  height: auto;
  width: 600px;
  justify-self: center;
  margin-top: 2em;
  /* overflow: auto; */
  scrollbar-color: blue;
  color: black;
  display: flex;
  justify-content: space-between;
}
.input {
  height: 30px;
  width: 200px;
  border-radius: 30px;
}
.submitBtn {
  background-color: blue;
  color: white;
  border: none;
  /* border-radius: 30px; */
  width: 90px;
  height: 30px;
}
.submitBtn:hover {
  border-radius: 30px;
}

.tasksList {
  display: flex;
  /* justify-content: space-evenly; */
  gap: 30px;
  margin: 1em;
}

.Deletebtns {
  width: 70px;
  border: none;
  border-radius: 30px;
}

.Editbtn {
  width: 70px;
  border: none;
  border-radius: 30px;
  background-color: limegreen;
}
.list {
  list-style-type: decimal-leading-zero;
  font-family: fantasy;
  font-size: 15px;
}
